* {
  color: #5dc7a9;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
  margin:0;
}

p, h3, button {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

body {
  color: #5dc7a9;
  background-color: #131313;
}

a {
  text-decoration: none;
}